<%- include ('partials/header', { pageTitle: "My Profile" }) %>

  <main>
    <h1>Welcome back, <%= username %>!</h1>
    <p>This is your account.</p>
    <a href="/logout">Log Out</a>
  </main>

<%- include('partials/footer') %>